

 div.container {
    width:100%;
	border: 1px solid blue;
  }

header {


background-color:blue;
color : yellow;
clear : left;
text-align:center;
}

footer {
	background-color:rgb(24, 123, 189);
	color : white;
	clear : left;
	text-align:center;
 }

aside  {
    
	float:left;
    max-width: 140px;
}

article {
	text-align: center;
	clear:left;
	width : 80%;
}
 
p{
	font-family: 'Lucida Sans';
	font-size: 11;
}

ul{
    font-family: "Arial";
    font-size: 10;
    }
    